* {
    margin: 0 auto;
    padding: 0 Auto;
    box-sizing: border-box;
}

body {
    width: 1440px;
    align-items: center;
    margin: auto;


}

nav{
    display: flex;
    align-items: center;
}

.menu {
display: flex;
}

.menu li {
    margin-right: 20px;
    list-style: none;
    font-size: 20px;
    text-transform: uppercase;
}

.menu li a {
    text-decoration: none;
    color: black;
}

.menu li button {
    border: none;
    background-color: red;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}

.menu li button:hover {
    background-color: darkred;
    text-transform: uppercase;
}
.container {
    margin-right: 20px;
    font-size: 20px;
    width: inherit;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.slider {
    position: relative;
    width: 100%;
    text-align: center;
}

.slider img {
    max-width: 600px; /* żeby obraz nie był za duży */
    width: 100%;
    height: auto;
}

.slider input {
    position: absolute;
    top: 50%;     /* środek w pionie */
    left: 50%;    /* środek w poziomie */
    transform: translate(-50%, -50%); /* dokładne wyśrodkowanie */
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
